@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');

@import url('https://fonts.googleapis.com/css?family=Raleway');



body {
  font-family: 'Cabin', sans-serif;
/*  color:darkcyan;*/
  width: 960px;
  margin: 0 auto;
  background-color: rgb(255,235,205);
      
}

h1, h2  {
  font-family: 'Amatic SC', sans-serif;
  font-size: 40px;
}

h1 {
  text-align: center;
  font-size: 60px;
  color:rgb(0,139,139);
}


#container {
  width: 960px;
  margin: 0 auto;
  }

p {
  color:darkcyan;
  font-family: 'Raleway', sans-serif;
}

nav ul {
  margin: 0 auto;
  width: 850px;
  list-style-type: none;
  padding-left: 0;
  font-family: 'Amatic SC', sans-serif;
  font-size: 25px;
  
}

nav li {
  display: inline-block;
  margin-right: 80px;
}

nav li:last-child {
    margin: 0;
    padding-bottom: 20px;
}

a {
text-decoration: none;
color:rgb(0,139,139);
}

a:link {
  color:coral;
      
}

a:visited {
  color:rgb(0,139,139);
}

a:active {
  color:hotpink;
}

a:hover {
  color:orange;
}

    

img {
  border: 1px solid #ccc;
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
}

img:nth-child(3n+3){
  margin-right: 0;
}

